html {
  -webkit-tap-highlight-color: transparent;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

body {
  font-family: "Trebuchet MS", "Helvetica", sans-serif;
  background-color: #E9EBEE;
}

a {
  cursor: pointer;
  text-decoration: none;
  transition: 250ms;
}

.wrap {
  text-align: center;
  width: 960px;
  margin: 15px auto auto auto;
  background-color: #FFFFFF;
  border: 1px solid #D1D1D2;
  border-radius: 5px;
  -moz-box-shadow: #C8C8C8 0 5px 15px 2px;
  -webkit-box-shadow: #C8C8C8 0 5px 15px 2px;
  -khtml-box-shadow: #C8C8C8 0 5px 15px 2px;
  box-shadow: 0 2px 5px #C8C8C8;
}

.title {
  padding-top: 35px;
  font-size: 60px;
  font-weight: 900;
}

.plus {
  color: rgb(34, 150, 218);
}

.link {
  color: #235694;
}

.link:hover {
  color: #46A246;
}

.subTitle {
  font-size: 20px;
  letter-spacing: 1px;
  padding-bottom: 15px;
}

.content {
  width: 85%;
  margin: 0 auto;
  text-align: left;
  font-size: 16px;
  line-height: 30px;
}

.open:hover {
  cursor: pointer;
  border-color: #46A246;
  color: #46A246;
}

#footer {
  line-height: 1.5;
  font-weight: bold;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

@media (max-width: 1000px) {

  body {
    background-color: white;
    position: relative;
    margin: 0;
  }

  html,
  body {
    overflow-x: hidden;
  }

  .wrap {
    width: unset;
    margin: unset;
    background-color: unset;
    border: unset;
    border-radius: unset;
    box-shadow: unset;
    border-bottom: 2px solid gray;
  }

  #footer {
    font-size: 10px;
  }
}

.box {
  border-radius: 10px;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
  padding: 35px 15px;
  color: #555;
  line-height: 25px;
}

.boxTitle {
  font-size: 18px;
  color: #463e3e;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.box div:not(:first-of-type) {
  margin-bottom: 10px;
}

sup {
  position: relative;
  padding: 6px 7px 12px 3px;
  font-size: 12px;
  line-height: 0;
}

sup:hover {
  cursor: default;
  text-decoration: underline;
}

sup:hover .moreSup {
  visibility: visible;
  opacity: 1;
  top: -25px;
  transition: opacity 250ms, 250ms top;
}

.moreSup {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  border-radius: 10px;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
  min-width: 150px;
  background: #fff;
  transform: translateX(-50%);
  top: -10px;
  left: 0;
  padding: 12px;
  transition: opacity 250ms, 250ms top, visibility 1ms 250ms;
}

#amount {
  outline: none;
  width: 45%;
  margin: 0 auto;
  transition: 350ms;
}

.amount {
  border-radius: 50px;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
  user-select: none;
}

.amount:first-of-type {
  padding: 0 15px;
}

.stepDown,
.stepUp {
  font-size: 10px;
  padding: 0 10%;
}

.stepDown:hover,
.stepUp:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.062);
  transition: background-color 250ms;
}

.stepUp {
  float: right;
  border-left: 1px solid #ccc;
  border-radius: 0 50px 50px 0;
}

.stepDown {
  float: left;
  border-right: 1px solid #ccc;
  border-radius: 50px 0 0 50px;
}

#totalContainer {
  display: inline-block;
  font-weight: bold;
  transition: 350ms;
}

#total {
  padding-right: 3px;
}

textarea {
  border-radius: 10px;
  box-sizing: border-box;
  border: none;
  resize: vertical;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
  outline: none;
  margin: 10px 0 3px;
  width: 100%;
  padding: 10px;
  margin-bottom: 3px;
  font-style: italic;
  font-family: "Trebuchet MS", "Helvetica", sans-serif;
}

#username {
  width: 50%;
}

.donate {
  position: relative;
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.4) 100%), linear-gradient(to right, #2296DA 0%, #235694 50%, #2296DA 100%);
  background-position: 0 0;
  background-size: 200% 100%;
  border-radius: 10px;
  color: #fff;
  padding: 5px 65px 5px 15px;
  text-shadow: 1px 1px 5px #666;
  margin-top: 10px;
  transition: 800ms;
  letter-spacing: 1px;
  float: right;
  width: 21%;
}

.donate:after {
  color: #003527;
  content: "❤";
  font-size: 18px;
  padding: 10px 0;
  padding-left: 15px;
  position: absolute;
  right: 15px;
  top: -5px;
  transition: 600ms 200ms;
}

.donate:hover {
  background-position: -100% 0;
  cursor: pointer;
}

.donate:hover:after {
  color: #ff2626;
  text-shadow: 0 0 10px #000;
}

.emptyDonations {
  border-radius: 10px;
  text-align: center;
  font-size: 25px;
  color: #ccc;
  border: 2px dashed #ccc;
  padding: 50px;
  transform: scale(.3);
  opacity: 0;
  animation: emptyDonors 500ms forwards;
}

@keyframes emptyDonors {
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.donations {
  min-height: 185px;
  margin-bottom: 70px;
}

.donation {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 15px;
  animation: showAnimation 1s forwards;
}

@keyframes showAnimation {
  from {
    opacity: 0;
    transform: translateY(-50px);
  } to {
    opacity: 1;
    transform: none;
  }
}

.comment {
  font-style: italic;
  columns: gray;
}

.titleUser {
  max-width: 85%;
}

.donationDate {
  font-size: 12px;
  color: gray;
  float: right;
}

.donation .boxTitle {
  padding: 0;
}

.thanks {
  display: none;
  opacity: 0;
  transform: scale(.1);
  background: #e4ffe4;
  border: 2px dashed #5eb95e;
  color: #008000;
  border-radius: 10px;
  padding: 15px;
  margin-top: 35px;
  text-align: center;
  font-size: 18px;
}

.thanksVisible {
  opacity: 1;
  transform: scale(1);
  transition: 2s;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  animation: 500ms disappear forwards;
}

@keyframes disappear {
  100% {
    background-color: white;
  }
}